.sidebar {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 17%;
  padding: 55px 23px 30px 20px;
  margin-left: 30px;
  font-family: Poppins, sans-serif;
}

.sidebarHeader {
  display: flex;
  align-items: center;
  margin-bottom: 65px;
}

.activeBorder {
  background-color: #0b63f8;
  width: 3px;
  height: 39px;
  margin-right: 20px;
}

.sidebarTitle {
  color: #013cc6;
  font-size: 24px;
  font-weight: 500;
}

.sidebarNav {
  flex-grow: 1;
}

.menuList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 41px;
  color: #131313;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
  cursor: pointer;
}

.menuItem.active {
  color: #0b63f8;
}

.menuIcon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.helpSection {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: auto;
}

.helpIcon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

@media (max-width: 991px) {
  .sidebar {
    width: 100%;
    padding: 40px 10px;
  }
}