.App {
  background-color: #F3F3F3;
  height: 100vh;
  justify-content: center;
  margin-left: auto;
}

.App-header {
  /* min-height: 100vh; */
  background-color: #e5e5e5;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}