.guestHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid #E0E0E0;
}

.guestContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* background-color: white; */
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logo {
    height: 30px;
    margin-right: 10px;
}

.logoText {
    font-size: 1.5rem;
    color: #333;
    font-weight: bold;
}

.loginButton {
    background-color: #2243C5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.loginButton:hover {
    background-color: #1664C1;
}

.searchContainer {
    display: flex;
    align-items: center;
}

.searchInput {
    padding: 10px;
    border: 2px solid #E0E0E0;
    border-radius: 20px;
    outline: none;
    width: 650px;
    font-size: 1rem;
}

.searchButton {
    background-color: white;
    border: none;
    cursor: pointer;
    margin-left: -35px;
    font-size: 1rem;
}